xml-tech/data.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Этот документ тут только для примера, он не используется при трансформациях -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="orgs">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="item" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="city" type="xs:string" use="required"/>
            <xs:attribute name="org" type="xs:string" use="required"/>
            <xs:attribute name="title" type="xs:string" use="required"/>
            <xs:attribute name="value" type="xs:integer" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:key name="UniqueItemKey">
      <xs:selector xpath="item"/>
      <xs:field xpath="@city"/>
      <xs:field xpath="@org"/>
      <xs:field xpath="@title"/>
    </xs:key>

  </xs:element>

</xs:schema>